@import "../../../../styles.scss";

.address-select {
  mat-form-field {
    width: 32%;
  }
}

.mat-column-name {
  flex: 40%;
}
.mat-column-size {
  flex: 12%;
  justify-content: center !important;
}
.mat-column-quantity {
  flex: 13%;
  justify-content: center !important;
}
.mat-column-price {
  flex: 35%;
  justify-content: flex-end !important;
}

.total {
  font-size: 23px;
}
