@import "../../../../styles.scss";

.mat-column-index {
  padding: 0.5rem 0.2rem;
  flex: 3%;
}
.mat-column-name {
  padding: 0.5rem 0.2rem;
  flex: 18%;
}
.mat-column-price {
  justify-content: center;
  padding: 0.5rem 0.2rem;
  flex: 12%;
}
.mat-column-category {
  justify-content: center;
  padding: 0.5rem 0.2rem;
  flex: 8%;
}
.mat-column-description {
  padding: 0.5rem 0.2rem;
  flex: 32%;
}
.mat-column-items {
  justify-content: center;
  padding: 0.5rem 0.2rem;
  flex: 12%;
}
.mat-column-action {
  justify-content: center;
  padding: 0.5rem 0.2rem;
  flex: 15%;

  i {
    color: $active-color;
  }
}
