<div class="container-fluid bg">
  <div class="row py-3 justify-content-center">
    <div class="col-12">
      <h1 class="pl-5 text-uppercase">
        <a routerLink="/" matTooltip="Go to Home">ClothStore</a>
      </h1>
    </div>
    <div class="col-md-5 col-12 my-3">
      <div
        class="login-card border rounded px-5 py-4 d-flex flex-column bg-white shadow-sm"
      >
        <h2 class="mb-4 text-center title-color">Register</h2>
        <mat-form-field class="form-full-width" appearance="outline">
          <mat-label>Full name</mat-label>
          <input type="text" matInput />
        </mat-form-field>

        <mat-form-field class="form-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput />
        </mat-form-field>

        <mat-form-field class="form-full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput />
        </mat-form-field>
        <mat-form-field class="form-full-width" appearance="outline">
          <mat-label>Re-password</mat-label>
          <input type="password" matInput />
        </mat-form-field>
        <button mat-raised-button class="py-3 my-2 bg-active-color text-white">
          Register
        </button>
        <a routerLink="/login" class="text-center">
          <button mat-flat-button>Already an account?</button>
        </a>
      </div>
    </div>
  </div>
</div>
