<div class="container">
  <div class="row py-5">
    <div class="col-12 d-flex justify-content-center py-3">
      <input
        class="form-control mx-2 w-50"
        type="text"
        placeholder="Type your phone number here..."
        [(ngModel)]="phone"
        (keydown.enter)="search()"
        maxlength="10"
      />
      <button
        mat-raised-button
        class="text-white bg-active-color"
        (click)="search()"
      >
        Search
      </button>
    </div>
    <div class="col-12">
      <h5 class="text-uppercase my-4">All your orders</h5>
    </div>
    <div class="col-12 mb-2">
      <span class="font-italic px-2" *ngIf="Orders?.length === 0">
        No order was created.
      </span>
      <div class="px-2" *ngIf="Orders?.length !== 0">
        <div>
          By phone:
          <span class="px-2">{{ phone }}</span>
        </div>

        <div>
          Total orders:
          <span class="px-2">{{ Orders?.length }}</span>
        </div>
      </div>
    </div>
    <div class="col-12">
      <button
        *ngFor="let item of Orders"
        mat-raised-button
        class="btn-order mx-2 my-2 p-3 d-flex"
        matTooltip="Go to check this order"
        routerLink="/order-management/tracking-order/{{ item._id }}"
      >
        <div class="d-flex justify-content-between">
          <div class="id title-color">
            ID:
            <span class="active-color px-2">{{ item._id }}</span>
          </div>
          <div class="status title-color">
            Status:
            <span
              class="px-2"
              [ngClass]="{
                'active-color': item.status >= 0,
                'line-through': item.status < 0
              }"
            >
              {{ item.status | orderStatus }}
            </span>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="name title-color">
            Orderer:
            <span class="active-color px-2">{{ item.name }}</span>
          </div>
          <div class="quantity title-color">
            Total item:
            <span class="active-color px-2">
              {{ item.orderData | countItem }}
            </span>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="phone title-color">
            Address:
            <span class="active-color px-2">
              {{
                item.address +
                  ", " +
                  item.nameWard +
                  ", " +
                  item.nameDistrict +
                  ", " +
                  item.nameProvince
              }}
            </span>
          </div>
          <div class="phone title-color">
            Purchase's Date:
            <span class="active-color px-2">
              {{ item.createAt | datevnese }}
            </span>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <div class="total title-color">
            Total:
            <span class="active-color px-2">{{
              item.amount + item.feeShip | currencyvnd
            }}</span>
          </div>
        </div>
      </button>
    </div>
    <div class="py-3">
      <button class="btn-back" mat-stroked-button routerLink="/">
        <i class="eva eva-arrow-back"></i>
        <span class="mx-2">Back to Shopping</span>
      </button>
    </div>
  </div>
</div>
