<div class="col-12 py-3">
  <div class="order p-3 w-100 border rounded shadow-sm my-2">
    <div class="id">
      <span>ID:</span>
      <span class="px-3 font-weight-bold">123had21sadas</span>
    </div>
    <div class="item-area w-100 p-2">
      <ul>
        <li>
          <div class="item d-flex justify-content-between w-100">
            <span>Ao Tay Ngan, L, 1</span>
            <span>$2119</span>
          </div>
        </li>
        <li>
          <div class="item d-flex justify-content-between w-100">
            <span>Ao Tay Dai, S, 1</span>
            <span>$2119</span>
          </div>
        </li>
        <li>
          <div class="item d-flex justify-content-between w-100">
            <span>Ao Tay Ngan, XL, 1</span>
            <span>$2119</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="total d-flex justify-content-end w-100 p-2">
      <span class="fs-22">Total</span>
      <span class="ml-3 fs-22 font-weight-bold">$120211</span>
    </div>
    <div class="action w-100 d-flex justify-content-end">
      <button mat-raised-button class="px-5 bg-active-color text-white">
        Go Detail
      </button>
    </div>
  </div>
  <div class="order p-3 w-100 border rounded shadow-sm my-2">
    <div class="id">
      <span>ID:</span>
      <span class="px-3 font-weight-bold">123had21sadas</span>
    </div>
    <div class="item-area w-100 p-2">
      <ul>
        <li>
          <div class="item d-flex justify-content-between w-100">
            <span>Ao Tay Ngan, L, 1</span>
            <span>$2119</span>
          </div>
        </li>
        <li>
          <div class="item d-flex justify-content-between w-100">
            <span>Ao Tay Dai, S, 1</span>
            <span>$2119</span>
          </div>
        </li>
        <li>
          <div class="item d-flex justify-content-between w-100">
            <span>Ao Tay Ngan, XL, 1</span>
            <span>$2119</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="total d-flex justify-content-end w-100 p-2">
      <span class="fs-22">Total</span>
      <span class="ml-3 fs-22 font-weight-bold">$120211</span>
    </div>
    <div class="action w-100 d-flex justify-content-end">
      <button mat-raised-button class="px-5 bg-active-color text-white">
        Go Detail
      </button>
    </div>
  </div>
  <div class="order p-3 w-100 border rounded shadow-sm my-2">
    <div class="id">
      <span>ID:</span>
      <span class="px-3 font-weight-bold">123had21sadas</span>
    </div>
    <div class="item-area w-100 p-2">
      <ul>
        <li>
          <div class="item d-flex justify-content-between w-100">
            <span>Ao Tay Ngan, L, 1</span>
            <span>$2119</span>
          </div>
        </li>
        <li>
          <div class="item d-flex justify-content-between w-100">
            <span>Ao Tay Dai, S, 1</span>
            <span>$2119</span>
          </div>
        </li>
        <li>
          <div class="item d-flex justify-content-between w-100">
            <span>Ao Tay Ngan, XL, 1</span>
            <span>$2119</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="total d-flex justify-content-end w-100 p-2">
      <span class="fs-22">Total</span>
      <span class="ml-3 fs-22 font-weight-bold">$120211</span>
    </div>
    <div class="action w-100 d-flex justify-content-end">
      <button mat-raised-button class="px-5 bg-active-color text-white">
        Go Detail
      </button>
    </div>
  </div>
</div>
