@import "../../../../styles.scss";

.form-control {
  width: 60%;
}

i {
  &.info {
    color: $hover-color;
    font-size: 25px;
  }
}

.stepper {
  padding-right: 99px !important;
  .wrapper-item-stepper {
    position: relative;
    margin-left: 99px;
    .step-order {
      width: 99px !important;
      border: 4px solid #b4b4b4;
      width: fit-content;

      i {
        font-size: 40px;
        color: #b4b4b4;
      }

      &#purchase-success {
        &::before {
          content: none;
        }
      }
      &::before {
        position: absolute;
        content: "";
        top: 49%;
        right: 100%;
        width: 100%;
        height: 4px;
        background: #b4b4b4;
      }
    }
    .description-step {
      position: absolute;
      font-weight: 700;
      color: #8f8f8f;
    }
    &.active {
      .step-order {
        border: 4px solid $hover-color;

        i {
          color: $hover-color;
        }
        &::before {
          background: $hover-color;
        }
      }
      .description-step {
        color: $active-color;
      }
    }
  }
}

.mat-header-cell {
  color: $active-color;
}
.mat-column-index {
  flex: 8%;
}
.mat-column-name {
  flex: 47%;
}
.mat-column-size {
  flex: 10%;
  justify-content: center !important;
}
.mat-column-quantity {
  flex: 10%;
  justify-content: center !important;
}
.mat-column-price {
  flex: 25%;
  justify-content: flex-end !important;
}
