<div class="item-card shadow-sm rounded">
  <!-- <span class="position-absolute item-sale-flag">Sale off!</span> -->
  <button
    mat-icon-button
    class="btn-icon item-favorite"
    (click)="btnFavoriteClick()"
  >
    <i
      class="eva fs-22"
      [ngClass]="{
        'eva-heart-outline': !isFavorite,
        'eva-heart favorite': isFavorite
      }"
    ></i>
  </button>
  <div class="item-image">
    <div
      class="item-image__action w-100 text-center"
      matTooltip="{{ !sizeId ? 'Select size first' : '' }}"
    >
      <button
        mat-raised-button
        class="mx-1"
        [disabled]="!sizeId"
        (click)="btnClick()"
      >
        Add to cart
      </button>
      <button mat-raised-button class="mx-1" routerLink="" (click)="buyNow()">
        {{ sizeId ? "Buy This Now" : "Get Detail" }}
      </button>
    </div>
    <img
      class="item-image__img"
      [src]="imgHost + itemCardConfig.imageMain"
      alt="item-img"
      routerLink="/product/{{ itemCardConfig._id }}"
    />
  </div>
  <div class="item-name py-2 text-center">
    <a class="item-name__link" routerLink="/product/{{ itemCardConfig._id }}">
      {{ itemCardConfig.name }}
    </a>
  </div>
  <div class="item-price text-center">
    <span class="item-price__main mx-2">
      {{ itemCardConfig.price | currencyvnd }}
    </span>
  </div>
  <div class="item-size text-center mt-2">
    <button
      *ngFor="let item of itemSizeConfig"
      mat-icon-button
      class="btn-size mx-1"
      [disabled]="item.quantity <= 0"
      (click)="btnSizeClick(item._id)"
      [ngClass]="{ active: item.isClick }"
    >
      {{ item.size }}
    </button>
  </div>
</div>
