// Declare global variable
$primary-black-color: #222222;
$secondary-black-color: #00000080;
$hover-color: #e76b7e;
$active-color: #db3d55;
$title-color: #4e4e4e;

// CSS HERE
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: $primary-black-color;
}
button {
  outline: none !important;
}
.bg-active-color {
  background: $active-color;

  &:hover {
    background-color: $hover-color;
  }
}
.active-color {
  color: $active-color;
}

.title-color {
  color: $title-color;
}

.fs-22 {
  font-size: 22px !important;
}

.fw-600 {
  font-weight: 600;
}

.w-105 {
  width: 105%;
}

.w-80 {
  width: 80%;
}
.form-full-width {
  width: 100%;
}
.btn-icon {
  &:hover {
    color: $hover-color;
  }
}

input {
  &.form-control {
    &:focus {
      border-color: $hover-color;
      box-shadow: 0 0 0 0.2rem rgba(207, 85, 101, 0.4);
    }
  }
}

.mat-tab-group {
  &.mat-primary {
    .mat-ink-bar {
      background-color: $active-color !important;
    }
  }
}

mat-selection-list {
  &.mat-selection-list {
    &.mat-list-base {
      &:focus {
        outline: none !important;
      }
    }
  }
}

.mat-badge-content {
  background: $hover-color;
}
.mat-badge-medium {
  &.mat-badge-after {
    .mat-badge-content {
      right: -12px;
    }
  }
  &.mat-badge-above {
    .mat-badge-content {
      top: -11px;
    }
  }
  .mat-badge-content {
    width: 19px;
    height: 19px;
    line-height: 22px;
  }
}
.mat-radio-button {
  &.mat-accent {
    &.mat-radio-checked {
      .mat-radio-outer-circle {
        border-color: $active-color;
      }
      .mat-radio-inner-circle {
        background-color: $active-color;
      }
    }
  }
}

mat-form-field {
  &#input-quantity-items {
    .mat-form-field-wrapper {
      padding-bottom: 0;
      .mat-form-field-flex {
        .mat-form-field-infix {
          border-top-width: 0px;
          padding-top: 21px !important;
          padding-bottom: 20px !important;
        }
      }
    }
  }
  &.custom-small-outline {
    &.pb-0 {
      .mat-form-field-wrapper {
        padding-bottom: 0 !important;
      }
    }
    // Custom label
    &.mat-form-field-appearance-outline {
      &.mat-form-field-can-float {
        &.mat-form-field-should-float {
          .mat-form-field-label {
            transform: translateY(-1.2em) scale(0.7);
          }
        }
      }
    }
    .mat-form-field-wrapper {
      padding-bottom: 0.8rem;

      .mat-form-field-flex {
        .mat-form-field-infix {
          padding: 0.5em 0 0.7em 0;
          border-top: 0.3em solid transparent;

          // for mat-select
          .mat-select-trigger {
            .mat-select-arrow-wrapper {
              transform: translateY(15%);
            }
          }
        }
      }
      // mat-error font size down 60%
      .mat-form-field-subscript-wrapper {
        font-size: 60% !important;
      }
    }
  }
  .mat-form-field-wrapper {
    .mat-form-field-outline {
      color: rgba(0, 0, 0, 0.12) !important;

      &:hover,
      &:focus {
        color: rgba(0, 0, 0, 0.12) !important;
      }
    }
  }
}

// Only use in "Home"
.custom-select-search-outline {
  .mat-form-field-wrapper {
    padding-bottom: 0px !important;
    margin: 0 !important;

    .mat-form-field-outline {
      color: #cdcdcd !important;
    }

    .mat-form-field-infix {
      border-top-width: 10px !important;
      padding-bottom: 10px !important;
      padding-top: 8px !important;

      .mat-select {
        .mat-select-arrow-wrapper {
          padding-top: 8px !important;
        }
      }

      .mat-form-field-label-wrapper {
        .mat-form-field-label {
          padding-top: 2px !important;
        }
      }
    }
  }
}

.img-product {
  .ngx-gallery {
    .ngx-gallery-layout {
      max-width: 700px;
      max-height: 700px;
    }
    .ngx-gallery-icon {
      .ngx-gallery-icon-content {
        color: $active-color;
      }
    }
  }
}

// .mat-table {
//   .mat-row {
//     &:last-child {
//       border-bottom-width: 0;
//     }
//   }
// }

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    &.custom-size {
      max-width: 1400px !important;
    }
  }
}
