@import "../../../../styles.scss";

#input-quantity-items {
  width: 10%;
}
a {
  color: $active-color;
}

button {
  &.main-action {
    background-color: $active-color;
    color: white;
    padding-left: 110px;
    padding-right: 110px;
    &:hover {
      background: $hover-color;
    }
  }
  &.second-action {
    color: $active-color;
    &:hover {
      background: $active-color;
      color: white;
    }
  }
}

.size {
  .btn-size {
    width: 30px;
    height: 30px;
    line-height: 20px;
    font-size: 14px;
    border: 1px solid $active-color;
    color: $active-color;

    &:disabled {
      color: $active-color;
      opacity: 0.5;
    }

    &:not(:disabled) {
      &:hover {
        color: white;
        background: $hover-color;
        border: 1px solid $hover-color;
      }

      &.active {
        color: white;
        background-color: $active-color;
      }
    }
  }
}
.invisible {
  visibility: hidden;
}

@media (max-width: 1900px) {
  .img-product {
    min-height: 730px;
  }
}

@media (max-width: 1200px) {
  .img-product {
    min-height: 560px;
  }
}

@media (max-width: 970px) {
  .img-product {
    min-height: 360px;
  }
}
@media (max-width: 750px) {
  .img-product {
    min-height: 430px;
  }
  .title {
    padding-top: 0.5rem;
    h1 {
      font-size: 25px;
    }
  }
  .price {
    h3 {
      font-size: 20px;
    }
  }
}
