<div class="container custom-size">
  <div class="row py-5">
    <div class="col-md-6 col-12 img-product">
      <ngx-gallery
        [options]="galleryOptions"
        [images]="galleryImages"
        class="ngx-gallery"
      ></ngx-gallery>
    </div>
    <div class="col-md-6 col-12 pt-sm-3">
      <div class="title">
        <h1 class="font-weight-bold">
          819 Essential Denim – Black – New Season
        </h1>
      </div>
      <div class="price mt-2">
        <h3>$200</h3>
      </div>
      <div class="size mt-3">
        <button mat-icon-button class="btn-size mx-1">38</button>
        <button mat-icon-button class="btn-size mx-1">39</button>
        <button mat-icon-button class="btn-size mx-1">40</button>
        <button mat-icon-button class="btn-size mx-1">41</button>
        <button mat-icon-button class="btn-size mx-1">42</button>
        <br />
        <div class="mt-1">
          <span>23 items left</span>
        </div>
      </div>
      <div class="action mt-3">
        <div class="my-3">
          <mat-form-field id="input-quantity-items" appearance="outline">
            <input matInput type="number" min="1" max="99" value="1" />
          </mat-form-field>
          <button class="py-2 mx-2 main-action" mat-raised-button>
            Buy now
          </button>
        </div>
        <button class="py-2 mr-2 mt-2 px-5 second-action" mat-raised-button>
          Add to cart
          <i class="eva eva-shopping-cart-outline fs-22"></i>
        </button>
        <button class="py-2 px-5 mt-2 second-action" mat-raised-button>
          Add to Favorite List
          <i class="eva eva-heart-outline fs-22"></i>
        </button>
        <br />
      </div>
      <div class="description mt-3">
        <!-- <div [(ngModel)]="summernoteValue" [ngxSummernote]="config"></div> -->
        <div [ngxSummernoteView]="summernoteValue"></div>
      </div>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-12">
      <h4 class="text-uppercase">relative items</h4>
    </div>
  </div>
</div>
